<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <h2 class="text-center">Sign up</h2>

      <%= render "devise/shared/error_messages", resource: resource %>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/registration_fields", f: f %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.input :password, autocomplete: "new-password", required: true %>
        <%= f.input :password_confirmation, autocomplete: "new-password", required: true %>

        <%= f.button :submit, value: "Sign up", class: 'w-100 btn-primary' %>
      <% end %>
    </div>
  </div>
  <div class="row my-2 justify-content-center">
    <div class="col-4 text-right">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
