<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <h2 class="text-center">Log in</h2>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.input :email, autofocus: true, autocomplete: "email" %>
        <%= f.input :password, autocomplete: "current-password" %>

        <% if devise_mapping.rememberable? %>
          <%= f.input :remember_me, as: :boolean, checked_value: true %>
        <% end %>

        <%= f.button :submit, value: "Log in", class: 'w-100 btn-primary' %>
      <% end %>
    </div>
  </div>
  <div class="row my-2 justify-content-center">
    <div class="col-4 text-right">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
