<%= simple_form_for(activity, as: :activity, url: url) do |f| %>
  <%= f.input :title, autofocus: true %>
  <%= f.input :type, collection: activity.types, prompt: "Select activity type" %>
  <%= f.input :short_description, as: :text %>

  <%= f.input :start_at, as: :datetime, start_year: Time.zone.now.year %>
  <%= f.input :end_at, as: :datetime, start_year: Time.zone.now.year %>

  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.button :submit, value: "Save", class: 'w-100 my-1 btn-primary' %>
<% end %>
