<div class="card" style="width: 400px;">
  <div class="card-body">
    <h2 class="card-title text-center"><%= @activity.title %></h2>
    <p class="text-muted text-right">Author: <%= @activity.author %></p>
    <div class="card-text text-center"><%= @activity.short_description %></div>
  </div>
  <div class="card-footer text-right">
    <%= link_to 'Edit', edit_activity_path(@activity) %> |
    <%= link_to 'Back', activities_path %>
  </div>
</div>
